### 제일 작은 수 제거하기 (12935)
문제 : 정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요. 단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

In [55]:
def solution(arr):
    if len(arr) == 1:         # len(arr) == 1일 경우, 빈 배열이 되기 때문에 [-1]을 리턴
        return [-1]
    else:
        arr.remove(min(arr))  # 그밖의 경우 리스트의 가장 작은 값을 제거하고 return한다.
        return arr
    
solution([4, 3, 2, 1])

[4, 3, 2]

In [54]:
def solution(arr):
    return [-1] if len(arr) == 1 else [i for i in arr if i != min(arr)]

solution([4, 3, 2, 1])

[4, 3, 2]

In [46]:
a[:-1]

[4, 3, 2]

### 없는 숫자 더하기 (86501)
문제 : 0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다. numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

In [75]:
def solution(numbers):
    num_li = set(range(0, 10))          # 0~9까지 집합 형태의 자료 생성
    numbers = set(numbers)              # numbers 또한 집합형태로 바꿈
    result = num_li - numbers           # 차집합을 구하여 result변수에 대입
    return sum(list(result))            # result를 list로 형변환하여 합산한 값을 return

solution([1,2,3,4,6,7,8,0])

14

In [60]:
sum(range(0, 10))

45

In [63]:
sum([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

45

In [65]:
num_li = list(range(0, 10))
num_li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
numbers = [1,2,3,4,6,7,8,0]

sorted(numbers)

[0, 1, 2, 3, 4, 6, 7, 8]

In [74]:
num_li|numbers

TypeError: unsupported operand type(s) for |: 'list' and 'list'

### 가운데 글자 가져오기
문제 : 단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요. 단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.

In [84]:
def solution(s):
    idx = len(s)//2                # s의 길이를 2로 나눈 몫을 idx에 대입
    if len(s)%2 == 0:              # s의 길이가 짝수일 경우
        return s[idx-1] + s[idx]   # 앞글자인 s[idx-1]과 s[idx]를 더해 return
    else:
        return s[idx]

solution("abcde")

2

'c'

In [85]:
def solution(s):
    idx = len(s)//2
    return s[idx-1] + s[idx] if len(s)%2 == 0 else s[idx]

solution("abcde")

'c'